<ion-header>
  <ion-toolbar mode="ios" color="success">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
   

    <ion-item  style="margin-top: 10px;">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input class="input" type="text" name="usuario"></ion-input>
    </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input class="input" type="text" name="senha"></ion-input>
        </ion-item>
       
   
 

    
    <p style="margin-left:15px; font-size: 12px;">Não possui uma conta ainda? <a routerLink="/cadastro" >Cadastre-se</a></p>

    <ion-button routerLink="/footer/home" expand="full" color="success" shape="round" class="btn btn-primary mt-3" type="submit"> ENTRAR </ion-button>

    </form>
    
</ion-content>
